{
    "ListenAddr": "localhost",
    "ListenPort": 8053,
    "Zones": [
        {"Name": "dynamic.example.org.",
         "Upstreams": {"NSUpdate": [
             {"Hostname": "ns.example.org",
              "Port": 53,
              "Zone": "example.org.",
              "TSigName": "nsregd.example.org.",
              "TSigSecret": "wDRVYeYdtAzirOCfaAIieAFwQJ1WiNYZ3Ykr3R/T85M=",
              "MaxTTL": 60,
              "TCP": true,
              "Timeout": "10s"
             }]},
         "MaxKeyTTL": 2592000,
         "MaxTTL": 3600,
         "AllowedNets": ["127.0.0.0/8"],
         "ReservedNames": ["localhost"],
         "AllowAnyNet": true,
         "KeyDbFile": "dynamic.example.org.keydb"}]}
